{{{#header}}}{{{header}}}{{{/header}}}

<div class="content">
    <h2>Login</h2>
    <form action="/">
        <fieldset>
            <div class="clearfix">
                <input type="text" id="username" value="" placeholder="Enter username" />
            </div>

            <div class="clearfix">
                <input type="password" id="password" value="" placeholder="Enter password" />
            </div>

            <button class="btn primary" id="login" type="submit">Sign in</button> or
            <a id="register" href="#">register</a>
        </fieldset>
    </form>
</div>

{{{#footer}}}{{{footer}}}{{{/footer}}}
