{{{#header}}}{{{header}}}{{{/header}}}

<div id="register_view" class="content">
    <h2>Register</h2>
    <form action="/">
        <fieldset>
            <div class="clearfix">
                <input type="text" id="username" value="" placeholder="Enter username" />
            </div>

            <div class="clearfix">
                <input type="password" id="password" value="" placeholder="Enter password" />
            </div>

            <div class="clearfix">
                <input type="password" id="password_repeat" value="" placeholder="Retype password" />
            </div>

            <button class="btn primary" id="register" type="submit">Submit</button> or
            <a id="login" href="#">login</a>
        </fieldset>
    </form>
</div>

{{{#footer}}}{{{footer}}}{{{/footer}}}
